<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div id="header">
    <a href="#" class="add-note" title="添加笔记"><span class="fa fa-plus">添加</span></a>
    <a href="#" class="sort" title="排序"><span class="fa fa-plus">整理</span></a>
    <ul class="user-area">
      <% if(isLogin) { %>
        <li><img src="<%= user.avatar %>" alt=""></li>
        <li><span title="<%= user.username %>"><%= user.username %></span></li>
        <li><span class="line"> | </span></li>
        <li><a href="/auth/logout" href="/auth/logout">注销</a></li>
      <% } else {%>
        <li><a href="/auth/github" class="login" title="Github登录">Github登录</a></li>
      <% } %>
    </ul>
  </div>
  <div id="content"></div>
  <div class="stars"></div>
  <script src="/javascript/bundle.js"></script>
</body>
</html>
